/* Add your custom styles here */

.menu-icon {
    display: none;
    cursor: pointer;
}

.mobile-menu-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%; /* Adjust width as needed */
    background-color: #fff; /* Adjust as needed */
    padding: 20px;
    border-right: 1px solid #ccc; /* Adjust as needed */
    z-index: 1000; /* Ensure it's above other content */
    flex-direction: column; /* Display items vertically */
    transition: width 2s;
}

.mobile-menu-list.active {
    display: block;
}

.menu-title {
    margin-right: auto; /* Pushes 目錄 to the far left */
    margin-left: 10px; /* Adjust margin as needed */
}

.mobile-menu {
    display: none;
}

.menu-icon {
    margin-right: 10px; /* Adjust margin as needed */
    cursor: pointer;
}

.mobile-menu-list li {
    display: block; /* Display list items vertically */
}

@media only screen and (max-width: 768px) {
    .menu-icon {
        display: inline-block;
        margin-left: 280px; /* Adjust as needed */
        cursor: pointer;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
    }
}
