.text-container {
    max-width: 800px; /* Set a maximum width for the text container */
    margin: 0 auto; /* Center the container horizontally */
}

.text-container p {
    margin-right: auto; /* Align text to the left within the container */
    margin-left: auto; /* Align text to the left within the container */
}
